DB_USERNAME=your_mysql_username_here
DB_PASSWORD=your_mysql_password_here
DB_NAME=your_database_name
DB_HOST=your_backend_host_name_generally_localhost
DB_PORT=your_database_port_number_generally_3306
JWT_KEY=your_jwt_secret_key
MAIL_ID=project_mail_id
MAIL_PASSWORD=project_mail_app_password